.card-element {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 555px;
  width: 444px;
  background: #5E35B1 0% 0% no-repeat;
  box-shadow: 0px 2px 4px #5E35B14D;
  border-radius: 16px;
  color: #fff;
  z-index: -1;

  .card-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      font-size: 34px;
      font-family: Gilroy-ExtraBold;
      text-align: left;
      margin: 52px 0 59px 49px;
    }

    img {
      margin: 24px;
    }
  }

  .card-description-wrapper {
    display: flex;

    p {
      font-size: 20px;
      text-align: left;
      line-height: 25px;
      margin: 0 48px 32px 48px;

      .expand-btn {
        color: #4DD0E1;

        .arrow-expand {
          margin-left: 5px;
        }
      }
    }
  }

  .card-info-wrapper {
    display: flex;
    margin-bottom: 48px;
    justify-content: space-around;

    .atacc-wrapper, .open-wrapper {
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 34px;
        margin: 0;
      }

      h5 {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        text-align: left;
      }
    }

    .open-wrapper > h4 {
      color: #4DD0E1;
    }
  }
}