.arrows {
  display: flex;
  width: 1464px;
  margin: 0 auto;
  justify-content: flex-end;

  .arrow-left {
    margin-right: 12px;
  }

  .arrow-right {
    margin-left: 12px;
  }
}

.card-slider {
  display: grid;
  padding: 49px 0 240px 228px;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  grid-gap: 66px;
  overflow: scroll;

  &::after {
    content: "";
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%, #ffffff 100%);
    height: 610.5px;
    right: 0;
    top: 2657px;
    position: absolute;
    width: 150px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}