.flow-wrapper {
  height: 1696px;
  background: linear-gradient(180deg, #FFFFFF 0%, #EDE7F6 15%, #FAE4EE 100%) 0% 0% no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}