nav {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 1464px;
  flex-direction: row;
  align-items: center;
  height: 80px;
  margin: 32px 228px 0 228px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #0000000D;
  border: 1px solid #DEE2E6;
  border-radius: 16px;
  opacity: 1;
  z-index: 100;

  img {
    margin-left: 32px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
      font-family: Gilroy-ExtraBold;
      font-size: 20px;
      color: #343A40;
    }
    li:nth-child(2) {
      margin: 0 32px;
    }
  }
}